<table>
  <tr>
    <td>
      <span
        class="dot"
        [ngClass]="{
          leader: node.nodeState == 'LEADER' && !node.disabled,
          candidate: node.nodeState == 'CANDIDATE' && !node.disabled,
          disabled: node.disabled
        }"
      ></span>
    </td>
    <td>
      <tr>
        <td><strong>ELEKCJA</strong></td>
        <td>
          <strong>{{ node.electionNumber }}</strong>
        </td>
      </tr>
      <tr>
        <td>Last committed</td>
        <td>{{ node.lastCommittedIdx }}</td>
      </tr>
      <tr>
        <td>Last operation</td>
        <td>{{ node.lastOperationIdx }}</td>
      </tr>
    </td>
    <!-- <td>
      <button *ngIf="!node.disabled" (click)="disableNode()">DISABLE</button>
      <button *ngIf="node.disabled" (click)="enableNode()">ENABLE</button>
    </td> -->
  </tr>

  <span *ngIf="isRecordsViewEnable()">
    <tr *ngFor="let record of node.records | keyvalue">
      <td>{{ record.key }} : {{ record.value.value }}</td>
    </tr>
  </span>
</table>
