<div>
  <button (click)="startChaosMonkey()" [disabled]="!isButtonEnabled()">
    CHAOS MONEKY
  </button>

  <button
    (click)="startFindAndDisableLeader()"
    [disabled]="!isButtonEnabled()"
  >
    FIND AND DISABLE LEADER
  </button>

  <div *ngIf="testingAlgorithm != 'NONE'">
    <div>
      {{ testingAlgorithm }}
    </div>
    <div>
      <button (click)="stopTesting()">
        STOP
      </button>
    </div>
  </div>
</div>

<div style="margin-top: 25px;">
  <button *ngIf="!isShowRecordEnable()" (click)="setShowRecord(true)" >
    SHOW RECORDS
  </button>
  <button *ngIf="isShowRecordEnable()" (click)="setShowRecord(false)">
    HIDE RECORDS
  </button>

  <button *ngIf="!isShowOperationEnable()" (click)="setShowOperations(true)" >
    SHOW OPERATIONS
  </button>
  <button *ngIf="isShowOperationEnable()" (click)="setShowOperations(false)">
    HIDE OPERATIONS
  </button>
  

  <button *ngIf="getNodesViewFlow() == 'VERTICAL'" (click)="setNodesFlow('HORIZONTAL')" >
    HORIZONTAL
  </button>
  <button *ngIf="getNodesViewFlow() == 'HORIZONTAL'" (click)="setNodesFlow('VERTICAL')">
    VERTICAL
  </button>
</div>