<div *ngIf="isVertical()">
  <div *ngFor="let node of allNodes">
    <app-node [node]="node"></app-node>
  </div>
</div>

<div *ngIf="isHorizontal()">
  <table>
    <tr>
      <td style="margin-right: 10px;" *ngFor="let node of allNodes">
        <app-node [node]="node"></app-node>
      </td>
    </tr>
  </table>
</div>

<div>
  <span *ngFor="let nodeInfo of getNodesInfo()">
    <button style="margin-right: 10px;" (click)="switchNodeState(nodeInfo.nodeId)">SWITCH</button>
  </span>
</div>

<div style="margin-top: 20px;">
  <input [(ngModel)]="recordKey" /><input [(ngModel)]="recordValue" /> 
  <span style="margin-left: 10px; font-size: 30px; font-weight: bold;">
    <span style ="cursor: pointer;" *ngIf="selectedOperationType == 'DELETE'" (click)="saveOperationType('ADD')">-</span>
    <span style ="cursor: pointer;" *ngIf="selectedOperationType == 'ADD'" (click)="saveOperationType('DELETE')">+</span>
  </span>
  <br />
  <button (click)="saveRecord()">SAVE</button>
  <select [(ngModel)]="selectedNodeId">
    <option value="{{nodeInfo.nodeId}}" *ngFor="let nodeInfo of getNodesInfo()">{{nodeInfo.nodeIdx}}</option>
  </select>
  <button (click)="saveRecordForNode()">SAVE FOR NODE</button>
</div>
